:root{
    /* --bg-color : #ffffff;
    --primary-color : #ebebeb;
    --primary-hover-color : #f6f6f6;
    --secondary-color : #acacac;
    --secondary-light-color : #d5d5d5;
    --hover-color : #b5b5b5;
    --text-color : #000000;
    --border-color : #000000;
    --graph-bg-color : #f6f6f6;
    --shadow-color :  #737373b4; */
    --border-radius : 5px;
    /* new pallete */
    --bg-color : #ffffff;
    --primary-color : #ebebeb;
    --primary-hover-color : #f6f6f6;
    --secondary-color : #acacac;
    --secondary-light-color : #d5d5d5;
    --hover-color : #b5b5b5;
    --text-color : #000000;
    --border-color : #000000;
    --graph-bg-color : #f6f6f6;
    --shadow-color :  #737373b4;
    --popup-cover-color : #4d4c4c5e;
    --cover-color : #d5d5d5e1;
}

[data-theme = 'light'][data-pallete = 'default']{
  --bg-color : #ffffff;
  --primary-color : #ebebeb;
  --primary-hover-color : #f6f6f6;
  --secondary-color : #acacac;
  --secondary-light-color : #d5d5d5;
  --hover-color : #b5b5b5;
  --text-color : #000000;
  --border-color : #000000;
  --graph-bg-color : #f6f6f6;
  --shadow-color :  #737373b4;
  --popup-cover-color : #4d4c4c5e;
  --cover-color : #ffffffe1;
  --popup-cover-color : #4d4c4c5e;
  --cover-color : #d5d5d5e1;
}


[data-theme = 'dark'][data-pallete = 'orange']{
  /* orange pallete */
  --bg-color : #292929;
  --primary-color : #464646;
  --primary-hover-color : #737373;
  --secondary-color : #db7746;
  --secondary-light-color : #7d7d7d;
  --hover-color : #a7a7a7be;
  --text-color : #f2fcf4;
  --border-color : #f2fcf4;
  --graph-bg-color : #f2fcf4;
  --shadow-color :  #6e6e6eae;
  --popup-cover-color : #3d3d3d9a;
  --cover-color : #464646e3;
}

[data-theme = 'dark'][data-pallete = 'inkBlue']{
 /*  new pallete ink blue */
  --bg-color : #27374D;
  --primary-color : #4a6981;
  --primary-hover-color : #678398;
  --secondary-color : #5785a2;
  --secondary-light-color : #7998ab;
  --hover-color : #3271a5;
  --text-color : #f2fcf4;
  --border-color : #f2fcf4;
  --graph-bg-color : #19293e;
  --shadow-color :  #9db2bf66;
  --popup-cover-color : #27374d88;
  --cover-color : #233848ef;
}

[ data-theme = 'dark'][data-pallete = 'neon']{
  /* new neon pallete */
  --bg-color : #222831;
  --primary-color : #393E46;
  --primary-hover-color : #2d343f;
  --secondary-color : #007177;
  --secondary-light-color : #00757d;
  --hover-color : #00ADB5;
  --text-color : #f2fcf4;
  --border-color : #f2fcf4;
  --graph-bg-color : #29303a;
  --shadow-color :  #9db2bf66;
  --popup-cover-color : #4d4c4c5e;
  --cover-color : #282f38;
  --popup-cover-color : #1b20278b;
  --cover-color : #393e46f2;
}

[ data-theme = 'light'][data-pallete = 'blueTimber']{
  /* new neon pallete */
  --bg-color : #19A7CE;
  --primary-color : #f6fdfa;
  --primary-hover-color : #d8d8d8;
  --secondary-color : #03d5fc;
  /* --secondary-color : #f6fdfa; */
  --secondary-light-color : #03d5fc;
  --hover-color : #2ca6df;
  --text-color : #000000;
  --border-color : #000000;
  --graph-bg-color : #F6F1F1;
  --shadow-color :  #0e4d5f;
  --popup-cover-color : #19a7cea8;
  --cover-color : #d8d8d8cb;
  --popup-cover-color : #19a7ce8f;
  --cover-color : #efefefe7;
}

[ data-theme = 'dark'][data-pallete = 'brownTimber']{
  /* brownTimber pallete */
  --bg-color: #DFD7BF;
  --primary-color: #734615;
  --primary-hover-color: #fff0c2;
  --secondary-color: #7b460c;
  --secondary-light-color: #cb7417;
  --hover-color: #a35400;
  --text-color: #ffffff;
  --border-color: #f3f3f3;
  --graph-bg-color: #f5F5F5;
  --shadow-color: #DFD7BF;
  --popup-cover-color: #F2EAD3;
  --cover-color: #d8d8d8cb;
  --popup-cover-color: #dfd7bfc1;
  --cover-color: #5a3309a6;
}


*{
    animation: slide-up 0.6s ease-in-out   forwards ;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    /* box-sizing: border-box !important */
}

html{
  z-index: 0;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 0;
  margin: 0;
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


::-webkit-scrollbar {
    /* display: none; */
    width: 2px;
    height: 2px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 30px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: 30px;
      transition: all 0.5s ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
  }


  .AppWrapper{
    display: flex;
    z-index: 0;
  }
