:root{
    --bg-color : #ffffff;
    --primary-color : #ebebeb;
    --secondary-color : #737373;
    --hover-color : #9d9d9d;
    --text-color : #000000;
    --border-color : #000000;
    --shadow-color :  #737373b4;
}

[data-theme = 'dark']{
  --bg-color : #292929;
  --primary-color : #464646;
  --secondary-color : #e5a684;
  --hover-color : #e5a684b1;
  --text-color : #f2fcf4;
  --border-color : #f2fcf4;
  --shadow-color :  #6e6e6eae;;
}

*{
    animation: slide-up 0.6s ease-in-out   forwards ;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


::-webkit-scrollbar {
    /* display: none; */
    width: 2px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 30px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: 30px;
      transition: all 0.5s ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
  }


  .AppWrapper{
    display: flex;
  }