
.themeSwitcher{
    display: flex;
    margin-left: 5vw;
    justify-content: start;
    align-items: center;
    height: 5vh;
    width: 65vw;
    padding: 2vh;
    border-radius: var(--border-radius);
    text-align: center;
    text-justify: auto;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.themeSelectorsRight{
    border: 2px solid var(--border-color) ;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 2vw;
}

.themeSelectorsRight:hover{
    cursor: pointer;
    filter: drop-shadow(1px 5px 5px var(--shadow-color));
}