
.popUpBackDropAddCategory{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: -1vh;
    left: -17.2vw;
    background-color: var(--popup-cover-color);
    z-index: 5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popUpContentAddCategoryWrapper{
    width: 40vw;
    height: max-content;
    backdrop-filter: blur(10px);    
    background-color: var(--cover-color);
    padding: 4vh;
    border-radius: var(--border-radius);
    z-index: 5;
}

.titleOfAddCategory{
    display: flex;
    width:90%;
    align-items: center;
    position: relative;
    margin-bottom: 5vh  ;
}



.addCategoryName{
    font-size: x-large;
    font-weight: 600;
}

.closeAddCategoryBtn{
    position: absolute;
    right: 0;
    top: 0;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: var(--hover-color);
    border-radius: 50%;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.closeAddCategoryBtn:hover{
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}

.addCategoryControlElem{

    margin-top: 3vh;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.submitAddCategoryBtn{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);    
    margin-right: 3vw;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.cancelAddCategoryBtn{
    width: 5vw;
    height: 5vh;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelAddCategoryBtn:hover , .submitAddCategoryBtn:hover{
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}


.addCategoryInputWrapper{
   
    width: 90%;
    display: flex;
        padding: 1vh;
}

.addCategoryLabelLeft{
    width: 40%;
    font-size: medium;
    text-align: end;
}

.addCategoryInputRight{
    width: 70%;
    text-align: start;
    margin-left: 1vw;
}

.addCategoryInputs{
    border: none;
    padding: 1vh;
    border-radius: var(--border-radius);
    background-color: var(--primary-hover-color);
    width: 90%;
    margin-right: 1vw;
    color: var(--text-color);
}

.addCategoryInputs:focus , .addCategoryInputs:active{
    outline: none;
    background-color: var(--secondary-light-color);
}

.addCategoryInputs::placeholder {
    color: var(--text-color);
    opacity: 1;
}


.colaboratorsInputComponentWrapper{
    
    display: flex;
    margin-bottom: 1vh;
}


.addBtnColaborator{
    width: 2vw;
    height: 2vw;
    padding: 0.5vh;
    background-color: var(--secondary-color);
    border-radius: 50%;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBtnColaborator:hover {
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}
