.LeftNavComponentWrapper{
    display:flex;
    padding:1vh;
    align-items:center;
    width: 90%;
    border-radius: var(--border-radius);
    transition: 0.3s all ease-in-out;
    margin-top: 2vh;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    filter: drop-shadow(1px 0.5px 3px var(--shadow-color));
}


.LeftNavComponentWrapper:hover{
    background-color: var(--hover-color);
    box-shadow: 1px 3px 7px 0 var(--hover-color);
    cursor: pointer;
}

.NavIcon{
    margin-right: 1vw;
}
