.TopNavComponent{
    display: flex;
    padding: 1vh;
    margin: 1vw;
    background-color: var(--primary-color);
    border-radius: 10px;
    justify-content: space-between;
    width: 80vw;
    height: 7vh;
    align-items: center;
}


.searchBox{
    display: flex;
    width: 15vw;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--primary-color);
}

.searchBox:hover{
    box-shadow: 1px 2px 20px 0 var(--hover-color);
    cursor: pointer;
}

.searchIconLeft {
    padding: 0.5vh;
    padding-top: 0.7vh;
}

#searchBarInp{
    width: 11vw;
    border: 0px solid;
    text-indent: 0.5vw;
    font-size: larger;
    background-color: var(--primary-color);
    color: var(--text-color);
}

#searchBarInp:focus{
    outline: none;
    color: var(--text-color);
}

.topNavMiddle{
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 3px;
}

.topNavRight{
    display: flex;
    /* margin-left: 50vw; */
}

.notifications{
    margin-right: 0.5vw;
    border-radius: 10px;
    padding: 0.5vh;
}

.userNameTop{
    margin-top: 0.5vh;
    margin-right: 0.5vw;
    border-radius: 10px;
    padding: 0.5vh;
}
.userNameIcon{
    margin-top: 0.5vh;
    border-radius: 50px;
    padding: 0.5vh;
}
 .userNameTop:hover ,.notifications:hover , .userNameIcon:hover{
    cursor: pointer;
    box-shadow: 1px 2px 20px 0 var(--hover-color);
}