.TopNavComponent{
    display: flex;
    padding: 1vh;
    margin: 1vw;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    justify-content: space-between;
    width: 80vw;
    height: 7vh;
    align-items: center;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}


.searchBox{
    display: flex;
    width: 15vw;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
}

.searchBox:hover{
    box-shadow: 1px 2px 20px 0 var(--hover-color);
    cursor: pointer;
}

.searchIconLeft {
    padding: 0.5vh;
    padding-top: 0.7vh;
}

#searchBarInp{
    width: 11vw;
    border: 0px solid;
    text-indent: 0.5vw;
    font-size: larger;
    background-color: var(--primary-color);
    color: var(--text-color);
}

#searchBarInp::placeholder {
    color: var(--text-color);
    opacity: 1;
  }

#searchBarInp:focus{
    outline: none;
    color: var(--text-color);
}

.topNavMiddle{
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 3px;
}

.topNavRight{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 50vw; */
}

.productivityPoints{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    padding: 1vh;
    margin-right: 0.5vw;
    border-radius: var(--border-radius); 
    background-color: var(--secondary-light-color);
}

.pointsName{
  
    margin-right: 0.5vw;
}

.noInternetIndicator{
    margin-right: 0.5vw;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
}

.notifications{
    margin-right: 0.5vw;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
}

.notificationsPopUpBackDrop{
    position: absolute;
    left: -17.2vw;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--popup-cover-color);
}

.notificationsWrapperFromTopNav{
    position: absolute;
    left: 70vw;
    top: 7vh;
    margin-right: 5vw;
    margin-top: 5vh;
    
}

.userNameTop{
    margin-top: 0.5vh;
    margin-right: 0.5vw;
    border-radius: var(--border-radius);
    padding: 1vh;
}
.userNameIcon{
    margin-top: 0.5vh;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
}

.userNameIcon img{
    border-radius: 50%;
}

.notifications:hover , .userNameIcon:hover{
    cursor: pointer;
    box-shadow: 1px 2px 20px 0 var(--hover-color);
}