.taskComponent{
    background-color: var(--primary-color);
    padding: 1vh;
    margin: 1vh;
    width: 23vw;
    height: auto;
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
    z-index: 0;
}

.taskComponent:hover{
    background-color: var(--hover-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}
.topOfTaskComp{
    display: flex;  
    margin-bottom: 1vh;
}

.taskName{
    text-indent: 0.5vw;
    font-size: medium;
    font-weight: 600;
}

.deleteTaskIcon{
    position: absolute;
    right: 10px;
    padding: 0.5vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.deleteTaskIcon:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}
.taskDescription{
    overflow-wrap: break-word;
    padding: 1vh;
    margin-left: 1.5vw;
    text-align: start;
}

#taskCheckBox{
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    
}
#taskCheckBox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em var(--shadow-color);
    transition: 120ms transform ease-in-out;
}

#taskCheckBox:checked::before {
    transform: scale(1);
}



.taskCheckBox:hover  , .taskDescription:hover , .taskName:hover{
    cursor: pointer;

}