.taskComponent{
    background-color: var(--primary-color);
    padding: 1vh;
    margin: 1vh;
    width: 23vw;
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.taskComponent:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    box-shadow: 1px 2px 8px 0 var(--shadow-color);
}

.topOfTaskComp{
    display: flex;  
    margin-bottom: 1vh;
}

.taskName{
    text-indent: 1vw;
    font-size: medium;
    font-weight: 600;
}

