.chatPageGroupContentWrapper{
    margin-left: 2vw; 

}


.currentChatsWrapper{
    width: 50vw;
    height: 65vh;
    background-color: var(--primary-color);
    margin: 1vh;
    padding: 2vh;
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 0.5px 2px var(--shadow-color));
    /* under dev */
    display: flex;
    flex-direction: column;
    align-content: start    ;
}

.currentChatsTopContent{
    margin-top: 0.5vh;
    font-size: x-large;
    font-weight: 500;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
}
.ChatContentName{
    margin-left: 2vw;
    height: min-content;
   width: max-content;
}

.ChatContentDate{
    position: fixed;
    right: 0;
}

.chatContentChats{
    padding: 1vh;
    width: 99%;
    margin-top: 4vh;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--primary-hover-color);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.sendMessageBar{
    margin: 1vh;
    padding: 2vh;
    width: 50vw;
    height: 6vh;
    display: flex;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 0.5px 2px var(--shadow-color));
}

#messageBoxInput{
    color: var(--text-color);
    border: none;
    text-indent: 1vw;
    height: 6vh;
    width: 45vw;
    margin-right: 1.5vw;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light-color);
    filter: drop-shadow(1px 0.5px 2px var(--shadow-color));
}

#messageBoxInput::placeholder {
    color: var(--text-color);
    opacity: 1;
  }

#messageBoxInput:active , #messageBoxInput:focus{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    filter: drop-shadow(1px 1px 2px var(--shadow-color));
}

.messageSendButton{
    width: 3vw;
    height: 3vw;
    background-color: var(--secondary-light-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 0.5px 2px var(--shadow-color));
}

.messageSendButton:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    filter: drop-shadow(1px 1px 2px var(--shadow-color));
}




.messageElementWrapper{
    width: fit-content;
    height: fit-content;
    max-width: 25vw;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh;
    margin-top: 2vh;
    border-radius: var(--border-radius);
    background-color: var(--hover-color);
    border: 2px solid transparent;
}

.chatNameAndDate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.senderName{
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.messageDate{
    font-size: x-small;
    margin-left: 1vw;
}


.message{
    text-indent: 0.6vw;
    font-size: small;
    text-align: start;
    font-weight: 400;
    width: 90%;
    word-wrap: break-word;
}


.messageAndTime{
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.messageTime{
    font-size: x-small;
    margin-left: 1vw;
    font-style: italic;
    align-self: flex-end;
}


.loadMoreChatsButton{
    margin-left: 45%;
    padding: 1vh;
    width: max-content;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light-color);
}

.loadMoreChatsButton:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    filter: drop-shadow(1px 1px 2px var(--shadow-color));
}

.loadMoreChatsButton:active{
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 1px 2px var(--shadow-color));
}