.notificationsWrapper{
    width: 20vw;
    height: 75vh;
    padding: 2vh;
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.notificationsTitleWrapper{
    font-size: larger;
}

.notificationControlElems{
    display: flex;
    align-self: end;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

.clearAllButton{
    width: 2.4vw;
    height: 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--hover-color);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.clearAllButton:hover{
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 5px 4px var(--shadow-color));
}

.singleNotificationWrapper{
    margin: 1vh;
    width: 19vw;
    height: auto;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-hover-color);
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.singleNotificationWrapper:hover{
    cursor: pointer;
    filter: drop-shadow(1px 5px 4px var(--shadow-color));
}

.notificationDetails{
    height: 8vh;
    width: 50%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-top: 1vh;
    align-self: flex-start;
}

.notificationSender{
    font-size: large;
    font-weight: 600;
}

.notificationCategoryName{
    font-size: medium;
    font-weight: 500;
    text-indent: 2vw;
}

.singleNotificaitonControlElem{
    display: flex;
    width: 30%;
}

.notificationAcceptBtn , .notificationRejectBtn{
    background-color: var(--hover-color);
    margin-right: 1vw;
    padding: 0.5vh;
    width: 2.5vw;
    height:2.5vw;
    border-radius: var(--border-radius) ;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.notificationAcceptBtn:hover,.notificationRejectBtn:hover{
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 5px 4px var(--shadow-color));
}