.removeReportPopUpBackDrop{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: -45.5vh;
    left: -17.7vw;
    background-color: var(--popup-cover-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.removeReportContentWrapper{
    width: 40vw;
    height: max-content;
    backdrop-filter: blur(10px);    
    background-color: var(--cover-color);
    padding: 4vh;
    border-radius: var(--border-radius);
}


.titleRemoveReport{
    display: flex;
    width:90%;
    align-items: center;
}

.removeReportName{
    font-size: x-large;
    font-weight: 600;
}

.closeRemoveReportBtn{
    width: 3vw;
    height: 3vw;
    margin-left: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: var(--hover-color);
    border-radius: 50%;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.closeRemoveReportBtn:hover{
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}

.areYouSureToRemoveReport{
    font-size: larger;
    font-weight: 500;
    margin-top: 3vh;
}


.removeReportControlElem{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.submitRemoveReportBtn{
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);    
    margin-right: 3vw;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.cancelRemoveReportBtn{
    width: 5vw;
    height: 6vh;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelRemoveReportBtn:hover , .submitRemoveReportBtn:hover{
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}
