.removeReportPopUpBackDrop{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: -0.5vh;
    left: -17.2vw;
    background-color: var(--popup-cover-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    backdrop-filter: blur(10px);  
    overflow: hidden; 
}

.removeReportContentWrapper{
    width: 40vw;
    height: max-content;
    backdrop-filter: blur(10px);    
    background-color: var(--cover-color);
    padding: 4vh;
    border-radius: var(--border-radius);
    z-index: 5;
 
}


.titleRemoveReport{
    display: flex;
    width:max-content;
    align-items: center;
    position: relative;

}

.removeReportName{
    width: max-content;
    font-size: x-large;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3vh;
}


.areYouSureToRemoveReport{
    font-size: larger;
    font-weight: 500;
    margin-top: 3vh;
}


.removeReportControlElem{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;

}

.submitRemoveReportBtn{
    font-size: inherit;
    color: var(--text-color);
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);    
    margin-right: 3vw;
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
}

.cancelRemoveReportBtn{
    font-size: inherit;
    color: var(--text-color);
    width: 5vw;
    height: 6vh;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    filter: drop-shadow(1px 2px 2px var(--shadow-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelRemoveReportBtn:hover , .submitRemoveReportBtn:hover{
    cursor: pointer;
    background-color: var(--shadow-color);
    filter: drop-shadow(1px 0.5px 5px var(--shadow-color));
}
