.dashBoardContentWrapper{
    display: flex;
}

.dashBoardContentLeft{
    margin-left: 2vw;
}

.dashBoardTimeLineElement{
    margin-top: 2vh;
    margin-bottom: 3vh;   
}

.DashBoardTaskElements{
    margin-top: 3vh;
}
.dashBoardReportsLabel{
    font-size: x-large;
    font-weight: 600;
}

.dashBoardContentRight{
    margin: 2vh;
    margin-left: 4vw;
}

.showReportsPopUpBackDropFromDashBoard{
    position: absolute;
    top: 0;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--popup-cover-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
}