.showReportContentWrapper{
    height: auto;
    display: flex;
    backdrop-filter: blur(10px);
}

.showReportContentLeftWrapper{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    margin-right: 1vw;
    padding: 1vh;
    width: 5vw;
    width: 15vw;
}

.showReportContentLeftName{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    font-size: larger;
    font-weight: 600;
    border-radius: var(--border-radius);
    background-color: var(--primary-hover-color);
}

.showReportContentCategoriesListSelector{
    padding: 1vh;
    height: 75vh;
    overflow-y: scroll;
}


.showReportContentEachCategory{
    
    margin-top: 0.7vh;
    text-align: center;
    width: 90%;
    height: max-content;
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 1.5vh;
    font-size: large;
    font-weight: 500;
    border-radius: var(--border-radius);
    background-color: var(--primary-hover-color);
    border: 2px solid transparent;
}


.showReportContentEachCategory:hover{
    border-color: var(--text-color);
    background-color: var(--secondary-light-color);
    filter: drop-shadow(1px 0.5px 2px var(--shadow-color));
    cursor: pointer;
}



.showReportContentRightWrapper{
    filter: drop-shadow(1px 0.5px 2px var(--shadow-color));
    border-radius: var(--border-radius);
    background-color: var(--cover-color);
    height: 85vh;
    width: 60vw;
}

/* top nav bar */
.reportTopNavWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
}

.reportTopNavBar{
    margin-top: 1vh;
    padding: 0.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.reportTopNavBar:hover{
    filter: drop-shadow(1px 0.5px 2px var(--shadow-color));
    cursor: pointer;
}

.reportTabSwitch{
    padding: 1vh;
    font-size: large;
    font-weight: 600;
    border-radius: var(--border-radius);
}

.reportTabSwitch:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}
  
.reportTabSwitch.activeReportNavTab {
    position: relative;
    /* background-color: var(--secondary-color); */
    /* border: solid 2px var(--border-color); */
}

.reportTabSwitch.activeReportNavTab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: var(--border-radius);
    background-color: var(--text-color); 
    animation: tabUnderline 0.3s ease-in-out;
    transform-origin: left;
}

@keyframes tabUnderline {
    0% {
    transform: scaleX(0);
    }
    100% {
    transform: scaleX(1);
    }
}

.closeShowReportsBtn{
    width: 3vw;
    height: 3vw;
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.closeShowReportsBtn:hover{
    background-color: var(--hover-color);
    box-shadow: 1px 3px 7px 0 var(--hover-color);
    cursor: pointer;
}

/* end of top nav bar */
.reportContentWrapper{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.reportContentBar{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1vh;
    height: 95%;
    width: 95%;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
}

/* background-color: var(--hover-color);
box-shadow: 1px 3px 7px 0 var(--hover-color);
cursor: pointer; */